@charset "utf-8";

html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td
	{
	font: inherit;
	line-height: 110%;
	vertical-align: baseline;
	margin: 0;
	padding: 0;
	border: 0;
}

html,body {
	height: 100%;
}

.header{
	background: gray;
	height: 120px;
	width: 100%;
	clear: both;
}

.footer{
	background: #ccc;
	heigth: 120px;
	width: 100%;
	clear: both;
}

.menu{
	background: #AAA;
	width: 120px;
	float: left;
	min-height: 400px;
}

.content{
	min-height: 400px;
}

